numpy
pandas
kagglehub
scikit-learn
matplotlib
evidently
seaborn
ipykernel
dvc
mlflow
PyYAML
ensure==1.0.2
python-box==6.0.2
dill
typing
dagshub
gradio
nltk
tensorflow
keras
pymongo
spacy==3.6.1
Pillow
azure-identity
azure-keyvault-secrets
azure-storage-blob
# pickle

-e .