numpy==1.23.5
pandas==2.0.3
scikit-learn==1.3.2
matplotlib==3.7.5
seaborn==0.13.2
dvc==3.42.0
mlflow==2.17.2
PyYAML==6.0.2
ensure==1.0.2
python-box==6.0.2
dill==0.3.9
typing==3.7.4.3
dagshub==0.3.42
gradio==4.26.0
nltk==3.9.1
tensorflow==2.12.0
pymongo==4.10.1
spacy==3.6.1
Pillow==10.4.0
azure-identity==1.19.0
azure-storage-blob==12.23.1

-e .